{% extends 'admin/base.html.twig' %}

{% block body %}
    <div class="vh-100 bg-light">
        <div class="h-75 d-flex flex-column justify-content-center">
            <div class="border border-1 rounded p-3 bg-white align-self-center login-card">
                <div class="d-flex flex-column">
                    <h1 class="align-self-center">Admin Login</h1>

                    <hr>

                    {% if error %}
                        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <form action="{{ path('app_admin_login') }}" method="post">
                        <div class="d-flex flex-column gap-4 mb-3">
                            <div>
                                <label class="form-label" for="username">Email</label>
                                <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control">
                            </div>
                            <div>
                                <label class="form-label" for="password">Password</label>
                                <input type="password" id="password" name="_password" class="form-control">
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
